In [2]:
import pandas as pd

In [3]:
# import dataset from URL
url = 'https://raw.githubusercontent.com/M3IT/COVID-19_Data/master/Data/COVID_AU_state.csv'
covid_states_df = pd.read_csv(url)
covid_states_df.head(7)

,date,state,state_abbrev,confirmed,confirmed_cum,deaths,deaths_cum,tests,tests_cum,positives,...,recovered,recovered_cum,hosp,hosp_cum,icu,icu_cum,vent,vent_cum,vaccines,vaccines_cum
0,2020-01-25,Australian Capital Territory,ACT,0,0,0,0,0,0.0,0,...,0,0.0,0,0,0,0,0,0,0,0
1,2020-01-25,New South Wales,NSW,3,3,0,0,0,0.0,3,...,0,0.0,0,0,0,0,0,0,0,0
2,2020-01-25,Northern Territory,NT,0,0,0,0,0,0.0,0,...,0,0.0,0,0,0,0,0,0,0,0
3,2020-01-25,Queensland,QLD,0,0,0,0,0,0.0,0,...,0,0.0,0,0,0,0,0,0,0,0
4,2020-01-25,South Australia,SA,0,0,0,0,0,0.0,0,...,0,0.0,0,0,0,0,0,0,0,0
5,2020-01-25,Tasmania,TAS,0,0,0,0,0,0.0,0,...,0,0.0,0,0,0,0,0,0,0,0
6,2020-01-25,Victoria,VIC,1,1,0,0,0,0.0,1,...,0,0.0,0,0,0,0,0,0,0,0

In [4]:
# group by week ending Friday
covid_states_df['date'] = pd.to_datetime(covid_states_df['date']) - pd.to_timedelta(7, unit='d')
covid_states_df = covid_states_df.groupby(['state_abbrev', pd.Grouper(key='date', freq='W-FRI')]).sum().reset_index().sort_values('date')

In [5]:
# inspect data
covid_states_df.head(5)

,state_abbrev,date,confirmed,confirmed_cum,deaths,deaths_cum,tests,tests_cum,positives,positives_cum,recovered,recovered_cum,hosp,hosp_cum,icu,icu_cum,vent,vent_cum,vaccines,vaccines_cum
0,ACT,2020-01-24,0,0,0,0,0,0.0,0,0.0,0,0.0,0,0,0,0,0,0,0,0
435,QLD,2020-01-24,2,6,0,0,0,0.0,2,0.0,0,0.0,0,0,0,0,0,0,0,0
725,TAS,2020-01-24,0,0,0,0,0,0.0,0,0.0,0,0.0,0,0,0,0,0,0,0,0
290,NT,2020-01-24,0,0,0,0,0,0.0,0,0.0,0,0.0,0,0,0,0,0,0,0,0
870,VIC,2020-01-24,3,13,0,0,0,0.0,3,0.0,0,0.0,0,0,0,0,0,0,0,0

In [6]:
# drop unneeded columns
covid_states_df.drop(['tests', 'confirmed_cum', 'deaths_cum', 'recovered_cum' , 'tests_cum', 'positives', 'positives_cum', 'hosp', 'hosp_cum', 'icu', 'icu_cum', 'vent', 'vent_cum', 'vaccines', 'vaccines_cum'],   axis=1, inplace=True)

In [7]:
# fill na columns 
covid_states_df = covid_states_df.fillna(0)

In [8]:
# cumalitive counts confirmed
covid_states_df['confirmed_cum'] = covid_states_df.groupby('state_abbrev')['confirmed'].cumsum()

In [9]:
# cumalitive counts recovered
covid_states_df['recovered_cum'] = covid_states_df.groupby('state_abbrev')['recovered'].cumsum()

In [10]:
# cumalitive counts deaths
covid_states_df['deaths_cum'] = covid_states_df.groupby('state_abbrev')['deaths'].cumsum()

In [12]:
# rename column date to week
covid_states_df.rename(columns={'date':'week'}, inplace=True)

In [16]:
# rename column state_abbrev to state
covid_states_df.rename(columns={'state_abbrev':'state'}, inplace=True)

In [18]:
# reset index
covid_states_df.reset_index(drop=True, inplace=True)

In [20]:
# rearrange columns
covid_states_df = covid_states_df[['week', 'state', 'confirmed','recovered','deaths', 'confirmed_cum', 'recovered_cum', 'deaths_cum']]

In [21]:
# inspect data
covid_states_df.head()

,week,state,confirmed,recovered,deaths,confirmed_cum,recovered_cum,deaths_cum
0,2020-01-24,ACT,0,0,0,0,0,0
1,2020-01-24,QLD,2,0,0,2,0,0
2,2020-01-24,TAS,0,0,0,0,0,0
3,2020-01-24,NT,0,0,0,0,0,0
4,2020-01-24,VIC,3,0,0,3,0,0

In [4]:
#Read second worksheet
flu_df2 = pd.read_excel('Data/national-notifiable-diseases-surveillance-system-nndss-public-dataset-influenza-laboratory-confirmed-dataset.xlsx', sheet_name=1, skiprows=[0, 1, 2, 3])
flu_df2

,Week Ending (Friday),State,Age group,Sex,Indigenous status,Type/Subtype
0,2019-01-04,NSW,00-04,Female,Not available,A(H1N1)pdm09
1,2019-01-04,NSW,00-04,Female,Not available,A(unsubtyped)
2,2019-01-04,NSW,00-04,Female,Not available,A(unsubtyped)
3,2019-01-04,NSW,00-04,Female,Not available,A(unsubtyped)
4,2019-01-04,NSW,00-04,Female,Not available,A(unsubtyped)
...,...,...,...,...,...,...
395830,2016-01-01,WA,45-49,Female,Non-Indigenous,A(H1N1)pdm09
395831,2016-01-01,WA,65-69,Female,Non-Indigenous,B
395832,2016-01-01,WA,75-79,Male,Non-Indigenous,A(H3N2)
395833,2016-01-01,WA,65-69,Female,Non-Indigenous,B
395834,2016-01-01,WA,75-79,Male,Non-Indigenous,A(H3N2)

In [5]:
#Read third worksheet
flu_df3 = pd.read_excel('Data/national-notifiable-diseases-surveillance-system-nndss-public-dataset-influenza-laboratory-confirmed-dataset.xlsx', sheet_name=2, skiprows=[0, 1, 2, 3])
flu_df3

,Week Ending (Friday),State,Age group,Sex,Indigenous status,Type/Subtype
0,2021-12-31,NSW,00-04,Female,Not available,A(unsubtyped)
1,2021-12-31,NSW,00-04,Female,Not available,A(unsubtyped)
2,2021-12-31,NSW,05-09,Female,Not available,A(unsubtyped)
3,2021-12-31,NSW,05-09,Male,Not available,A(unsubtyped)
4,2021-12-31,NSW,05-09,Male,Not available,A(unsubtyped)
...,...,...,...,...,...,...
331289,2019-01-04,WA,75-79,Male,Non-Indigenous,A(unsubtyped)
331290,2019-01-04,WA,80-84,Male,Non-Indigenous,B
331291,2019-01-04,WA,85+,Female,Non-Indigenous,A(unsubtyped)
331292,2019-01-04,WA,80-84,Male,Non-Indigenous,B
331293,2019-01-04,WA,85+,Female,Non-Indigenous,A(unsubtyped)

In [6]:
#Concatenate the dataframes
flu_df = pd.concat([flu_df2, flu_df3])
flu_df.shape

(727129, 6)

In [7]:
flu_df.columns

Index(['Week Ending (Friday)', 'State', 'Age  group', 'Sex',
       'Indigenous status', 'Type/Subtype'],
      dtype='object')

In [8]:
import datetime as dt
#convert the week ending date to datetime
flu_df['Week Ending (Friday)'] = pd.to_datetime(flu_df['Week Ending (Friday)']) - pd.to_timedelta(7, unit='d')
flu_groupby = flu_df.groupby(['Week Ending (Friday)', 'State', 'Age  group', 'Sex', 'Type/Subtype'], as_index = False)['Indigenous status'].count()
flu_groupby = flu_groupby.rename(columns={'Week Ending (Friday)': 'week', 'State': 'state', 'Age  group': 'age_group', 'Sex': 'sex', 'Type/Subtype': 'type_subtype', 'Indigenous status': 'Count'})
flu_groupby.head(-50)

            week state age_group     sex   type_subtype  Count
0     2015-12-25   NSW     00-04    Male  A(unsubtyped)      1
1     2015-12-25   NSW     00-04    Male              B      1
2     2015-12-25   NSW     05-09    Male              B      1
3     2015-12-25   NSW     10-14  Female              B      1
4     2015-12-25   NSW     15-19  Female   A(H1N1)pdm09      1
...          ...   ...       ...     ...            ...    ...
87892 2021-12-10   NSW     75-79    Male        A(H3N2)      1
87893 2021-12-10   NSW     75-79    Male  A(unsubtyped)      1
87894 2021-12-10    NT     00-04    Male  A(unsubtyped)      1
87895 2021-12-10    NT     05-09  Female  A(unsubtyped)      1
87896 2021-12-10    NT     05-09    Male  A(unsubtyped)      2

[87897 rows x 6 columns]

In [9]:
#Dependencies
from sqlalchemy import create_engine
from sqlalchemy import inspect
import config

In [10]:
config.username

'postgres'

In [11]:
#Connect to local SQL database
protocol = 'postgresql'
username = config.username #'<username>'
password = config.password #'<password>'
host = 'localhost'
port = 5432
database_name = 'project-3_DB'
#Create connection string
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
#Create engine
engine = create_engine(rds_connection_string)
insp = inspect(engine)

In [12]:
#Check for tables
insp.get_table_names()

['flu_data']

In [15]:
flu_groupby.to_sql(name='flu_data', con=engine, if_exists='replace', index=False)

In [ ]:
covid_states_df.to_sql(name='covid_data', con=engine, if_exists='replace', index=False)

In [ ]:
pd.read_sql_query('select * from covid_data', con=engine).head()

In [16]:
pd.read_sql_query('select * from flu_data', con=engine).head()

        week state age_group     sex   type_subtype  Count
0 2015-12-25   NSW     00-04    Male  A(unsubtyped)      1
1 2015-12-25   NSW     00-04    Male              B      1
2 2015-12-25   NSW     05-09    Male              B      1
3 2015-12-25   NSW     10-14  Female              B      1
4 2015-12-25   NSW     15-19  Female   A(H1N1)pdm09      1